{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{
                post['post']
            }}
        </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <select  name="comp_select" class="selectpicker form-control">
        <option value="is feeling happy">is feeling happy</option>
        <option value="is feeling sad">is feeling sad</option>
        <option value="is feeling crazy">is feeling crazy</option>
    </select>
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}