{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<h1>Online Book Store:</h1>
<p>Server Time: {{server_time}}</p>

<div class="container">
{% for item in items %}
	<ul>
		<div class="itemcontainer"><li> <a href="#">{{ item }}</a></li></div>
		<div class="itemcontainer"><li> <a href="#">{{ item }}</a></li></div>
	</ul>
{% endfor %}
</div>


{% endblock %}